<header class="header">
  <div class="container header__container">
    <button class="header__menu js-open-menu">
        <svg class="header__menu--icon networks__icon">
          <use href="./images/sprite.svg#bar"></use>
        </svg>
      </button>

    
    <a class="" href="./index.html">
      <p class="header__logo">Beautiful Nails</p>
    </a>
    <ul class="networks">
      <li class="networks__item">
        <a
          class="networks__link"
          href="https://www.instagram.com/beautiful.nails.if"
          aria-label="Instagram icon"
          target="_blank"
          rel="noopener noreferrer nofollow"
        >
          <svg class="networks__icon">
            <use href="./images/sprite.svg#instagram"></use>
          </svg>
        </a>
      </li>
      <li class="networks__item">
        <a
          class="networks__link"
          href="https://facebook.com/beautifulnails.pasichna.if"
          aria-label="Facebook icon"
          target="_blank"
          rel="noopener noreferrer nofollow"
        >
          <svg class="networks__icon">
            <use href="./images/sprite.svg#facebook"></use>
          </svg>
        </a>
      </li>

      <!-- <li class="networks__item">
        <a class="networks__link" href="">
            <svg class="networks__icon">
                <use href="./images/sprite.svg#envelope"></use>
              </svg>
        </a>
       </li> -->
    </ul>
  </div>







</header>
<main>
    <div class="mobile-menu js-mobile-menu">
      <div class="mobile-menu__wrapper">
        <button class="mobile-menu__btn js-close-menu">
          <svg class="mobile-menu__btn--icon">
            <use href="./images/sprite.svg#close"></use>
          </svg> 
        </button>
        <nav class="nav">
          <ul class="nav__list">
            <li class="nav__item"><a href="" class="nav__link">Про нас</a></li>
              <li class="nav__item"><a href="" class="nav__link">Послуги</a></li>
              <li class="nav__item"><a href="" class="nav__link">Онлайн запис</a></li>
              <li class="nav__item"><a href="" class="nav__link">Відгуки</a></li>
              <li class="nav__item"><a href="" class="nav__link">Контакти</a></li>  
          </ul>
        
            <a href="" class="phone"> <svg class="phone__icon">
            <use href="./images/sprite.svg#phone"></use>
            
          </svg>
          <p>+38(098)950-59-17</p>
        </a>
          <div class="location">
           <svg class="location__icon">
            <use href="./images/sprite.svg#map-marker"></use>
          </svg><p>м.Івано-Франківськ, вул.Пасічна 2а
          </p>
       
      </div>
      
         
          
        </nav>
      </div>
      </div>
</main>
